// Colors
$color-white: #fff;
$color-black: #000;
$bima-navy-blue: #2D3459;
$bima-lime-green: #95D343;
$bima-light-grey: #CCCCCC;
$bima-dark-grey: #999999;
$bima-danger: red;
$bima-orange: #EA931B;
$bima-admin-sidemenu: #252933;
$transparent: transparent;

// Fonts
$lato-bold: 'lato_bold', sans-serif;
$lato-medium: 'lato_medium', sans-serif;
$lato-regular: 'lato_regular', sans-serif;
$lato-light: 'lato_light', sans-serif;