
/**
 *
 Project: African Gaurantee Fund
 Author: Jack Otieno
 Email: jack.otieno@oxygene.co.ke
 Desc: African Gaurantee Fund Theme Styles
 *
 */

/*=============================================
=                   Mixins                    =
=============================================*/

@import 'mixins';

/*=====         End of Mixins          ======*/

/*=============================================
=                  Variables                  =
=============================================*/

@import 'variables';

/*=====        End of Variables        ======*/


/*=============================================
=                  resetbase                  =
=============================================*/

@import 'resetbase';

/*=====         End of resetbase       ======*/

/*=============================================
=                 Layouts                     =
=============================================*/

@import 'layouts';

/*=====         End of Layouts         ======*/

/*=============================================
=                 Fonts                     =
=============================================*/

@import 'fonts';

/*=====         End of Fonts         ======*/

/*=============================================
=                 components                  =
=============================================*/

@import 'components';

/*=====       End of Components        ======*/

/*=============================================
=                   Header                    =
=============================================*/

@import 'header';

/*=====         End of Header          ======*/

/*=============================================
=                  Homepage                   =
=============================================*/

@import 'homepage';

/*=====        End of Homepage         ======*/


/*=============================================
=                 Admin Page                  =
=============================================*/

@import 'admin';

/*=====       End of Admin Page        ======*/


/*=============================================
=                   Footer                    =
=============================================*/

@import 'footer';

/*=====         End of Footer          ======*/

/*=============================================
=                Media Queries                =
=============================================*/

@import 'mediaqueries';

/*=====      End of Media Queries      ======*/

